<html>
    <head>
        <title>Welcome to Cource project from Stasenko Grigory!</title>
    </head>
    <body>
        <h1>Welcome to {{ ansible_hostname }}</h1>
        <h1>Cource project from Stasenko Grigory</h1>
    </body>
</html>